* {
    box-sizing: border-box;
  }

.mainUP {
    width: 430px; 
    height: 230px;    
    float:left;
    border: 1px solid rgb(70, 197, 219);
}

.mainLEFT {
   width: 200px;
   height: 700px;
   float: left;
   border: 1px solid rgb(70, 219, 107);
}

.mainRIGHT {
    width: 230px;
    height: 700px;
    float: left;
    border: 1px solid rgb(219, 70, 174);
 }

 @media only screen and (min-width: 1280) {
.mainUP {
    width: 1280px; 
    height: 300px;    
    float:left;
}
.mainLEFT { 
    width: 300px; 
    height: 420px; 
    float: left;   
}
.mainRIGHT {
    width: 980px; 
    height: 420px;  
    float: left;
}
 }