html {
    background-color:aquamarine;
}
.Text {color:rgb(88, 151, 151);
}

#intro1 {
    position: fixed;
}

#intro2 {
    position: fixed;
}

#intro3 {
    position: fixed;
}

#middle1{
    position: fixed;
}

#middle2{
    position: fixed;
}

#middle3{
    position: fixed;
}

#outro1{
    position: fixed;
}

#outro2{
    position: fixed;
}

#outro3{
    position: fixed;
}

